body {
    min-height: 2000px;
    padding-top: 0px;
    padding-bottom: 100px;
    min-height: 100%;
}

.mainPane {
    padding-left: 0px;
    padding-right: 0px;
}

.vidPane {
    background-color: #000000;
}

.background {
    -webkit-filter: blur(2px);
    -webkit-filter: opacity(0.6);
    -moz-filter: blur(5px);
    -moz-filter: opacity(0.6);
    -o-filter: blur(5px);
    -o-filter: opacity(0.6);
    -ms-filter: blur(5px);
    -ms-filter: opacity(0.6);
    filter: blur(5px);
    background-image: url("banner.jpg");
    background-position: center;
    background-size: cover;
    padding-left: -0px;
    padding-right: 30px;
    height: 760px;
    width: 100%;
    position: absolute;
}

.vidbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 850px;
    color: #ffffff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
    font-size: 14px;
    font-family: "lato", sans-serif;
    z-index: 10;
    position: relative;
}

p {
    padding-left: 100px;
    padding-right: 100px;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    font-size: 16px;
    color: #7e7e7e;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    font-family: "lato", sans-serif;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.title {
    color: #000000 !important;
}

.events {
    font-size: 15px;
    color: #7e7e7e;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 50px;
    text-align: justify;
    font-family: "lato-light", sans-serif;
}

.event-lists .event-item {
    border-bottom: 1px solid #e4e3e1;
    margin-bottom: 14px;
    padding-bottom: 14px
}

.event-lists .event-item .event-title {
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

.event-lists .event-item .event-title .event-name {
    margin-left: 45px
}

.event-lists .event-item .event-date-local {
    font-size: 11px;
    padding-top: 2px
}

.event-lists .event-item .event-body {
    margin-top: 15px
}

.event-lists .event-item .event-image {
    float: left;
    margin: 0 5px 5px 0
}

.event-lists .event-item .spe-header {
    color: #ff2e1c;
    font-weight: bold
}

.event-lists .event-item .event-desc {
    line-height: 19px
}

.event-lists .event-item .tournament-colleps {
    display: inline-block;
    margin-right: 3px
}

time {
    border: 2px solid #ffffff;
    float: left
}

time.calendar {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    color: #252525;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

time.calendar .month {
    background: #ffffff none repeat scroll 0 0;
    color: #dd4a3e;
    display: block;
    padding: 0 5px;
    font-size: 12px;
    text-transform: uppercase
}

time.calendar .day {
    color: #ffffff;
    display: block;
    padding: 0 5px;
    font-size: 12px;
    background-color: #dd4a3e;
    text-transform: uppercase
}

footer {
    background: #252525;
    width: 100%;
    height: 100px;
    position: absolute;
    padding-top: 43px;
    bottom: 0;
    left: 0;
    color: #bdbdbd;
    font-size: 12px;
    font-family: "lato", sans-serif;
}

nav {
    font-family: "lato", sans-serif;
    width: 100%
}